@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
}

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
  }
}

body {
  background-color: theme('colors.slate.950');
  color: theme('colors.slate.50');
}
